/* ! Reset */
body,
html {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --clr-very-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);

  --clr-dark-grayish-magenta: hsl(303, 10%, 53%);
  --clr-light-grayish-magenta: hsl(300, 24%, 96%); /* ! comments */
}

/* ! helpers */
.margin-left-1 {
  margin-left: 4.5rem;
}
.margin-left-2 {
  margin-left: 9rem;
}
.margin-top-1 {
  margin-top: 2rem;
}
.margin-top-2 {
  margin-top: 4rem;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url(images/bg-pattern-top-desktop.svg) no-repeat top left,
    url(images/bg-pattern-bottom-desktop.svg) no-repeat bottom right;
  background-size: 850px, 1650px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* ! intro */
.intro-section {
  padding-bottom: 6.7rem;
}
.intro-section h2 {
  color: var(--clr-very-dark-magenta);
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 4.6rem;
  margin-bottom: 3rem;
}
.intro-section p {
  color: var(--clr-dark-grayish-magenta);
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 2.4rem;
}
/* ! rating */
.ratings {
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}
.rating {
  background: var(--clr-light-grayish-magenta);
  height: 90px;
  width: 738px;
  border-radius: 0.7rem;
  padding-left: 45px;

  display: flex;
  align-items: center;
}
.rating img {
  height: 23px;
  margin: 0 5px;
}
.rating p {
  color: var(--clr-very-dark-magenta);
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 3rem;
}
/* ! opinions */
.opinions {
  grid-column-start: span 2;
  display: flex;
  justify-content: space-between;
}
.opinion {
  background: var(--clr-very-dark-magenta);

  width: 550px;
  height: 350px;
  padding: 3.5rem;
  border-radius: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
}
.user img {
  height: 65px;
  border-radius: 10rem;
}
.user-info {
  margin-left: 2rem;
}
.user-info h3 {
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 500;

  margin-bottom: 0.4rem;
}
.user-info h4 {
  color: var(--clr-dark-grayish-magenta);
  font-size: 1.7rem;
  font-weight: 500;
}
.opinion p {
  color: var(--clr-light-grayish-magenta);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.3rem;
}
